#root {
  text-align: center;
  height: 100%;
  width: 100%;
}

.button {
  width: 148px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
}

.button > p {
  margin: 0;
}

.upgrades {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.zegar {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #1a1a1a;
  border-radius: 9999px;
  width: 256px;
  height: 256px;
}

.zegar > div {
  width: 2px;
  height: 50%;
  transform-origin: top center;
  background: red;

  transition: transform 0.2s;
}

#pedal {
  height: 300px;
  aspect-ratio: 321/838;
}

#pedal:active {
  transform: rotateX(20deg);
  transform-origin: bottom;
}

#panel {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: end;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
}
