#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
body{
  background-image: ;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 148px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
}

.button > p {
  margin: 0;
}

.upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.zegar {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #1a1a1a;
  border-radius: 9999px;
  width: 256px;
  height: 256px;
}

.zegar > div {
  width: 2px;
  height: 50%;
  transform-origin: top center;
  background: red;

  transition: transform 0.2s;
}

#pedal {
  height: 300px;
  aspect-ratio: 321/838;
}

#pedal:active {
  transform: rotateX(20deg);
  transform-origin: bottom;
}

#panel {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: end;
  justify-content: center;
}

#track {
  overflow-x: hidden;
  height: 200px;
}

#track > div {
  height: 50%;
  aspect-ratio: 1;
}

#track > div:nth-child(1) {
  background: red;
}

#track > div:nth-child(2) {
  background: green;
}

main {
  height: 100%;
  width: 100%;
}
