#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body{
  background-image: url(./assets/trawa.jpeg);
  background-repeat: no-repeat;
  background-size: 125%;
  margin: 0;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 148px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  border: 2px solid darkturquoise;
  background-color: aqua;

  transition: all 0.1s;
  box-shadow: 0 4px 0px 0px rgb(0 0 0 / 0.5);
}

.button:disabled {
  background-color: grey;
}

.button > .name {
  font-size: 14px;
  font-weight: 500;

  color: black;
}

.button:enabled:active {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transform: translateY(4px);
}

.button > p {
  margin: 0;
  font-size: 12px;
  color: rgb(53, 53, 53)
}

/* .button.Tempomat {
  background-color: aqua;
}

.button.Waga {
  background-color: aqua;
}

.button.Prędkość {
  background-color: aqua;
}

.button.Aerodynamika {
  background-color: aqua;
} */

.upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.zegar {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #1a1a1a;
  background-image: url(./assets/tempomat.png);
  background-repeat: no-repeat;
  border-radius: 9999px;
  width: 256px;
  height: 256px;
  /* border: 2px solid darkturquoise; */
}

.zegar > div {
  width: 2px;
  height: 50%;
  transform-origin: top center;
  background: red;
  rotate: 70deg;

  transition: transform 0.2s;
}

.pedal {
  height: 300px;
  aspect-ratio: 321/838;
  background-image: url(./assets/pedal.webp);
  background-size: contain;
  transition: transform 0.05s;
}

.pedal:active {
  transform: rotateX(20deg);
  transform-origin: bottom;
}

.panel {
  /* background-color: #1a1a1a; */
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: end;
  justify-content: center;
  padding-bottom: 12px;
}

.track {
  box-sizing: border-box;
  overflow-x: hidden;

  height: 500px;
  background-image: url(./assets/droga.png);
  background-position-x: 76px;
  padding-top: 90px;
  padding-bottom: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 21px
}

.track > div {
  height: 100px;
  width: 202px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.track > div:nth-child(1) {
  background-image: url(./assets/car1.png);
}

.track > div:nth-child(2) {
  background-image: url(./assets/car2.png);
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 128px;
}

.stats > div {
  background-color: #4CAF50; 
  border: 3px solid grey;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 24px;
  white-space: nowrap;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  background: white;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  max-width: fit-content;
  border: 1px rgb(0,0,0, 0.4) solid;
}

form > h1 {
  margin-top: 0px;
  margin-bottom: 8px;
}

form input {
  border-radius: 4px;
  outline: none;
  border: 1px rgb(0,0,0, 0.2) solid;
}

form > button {
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  border: 1px rgb(0,0,0, 0.2) solid;
  padding: 4px 8px 4px 8px;
}

table {
  border-collapse: collapse;
  color: white;
  background: #1a1a1a;
  font-size: 18px;
}

th {
  background: #333;
  padding: 4px;
}

td {
  border: 1px solid #333;
  padding: 8px;
}